<!-- En este documento HTML disponemos de una instancia de la clase "MainPage2Component" -->

<h1>Caballeros del Zodiaco</h1>
<hr>

<div class = "row">
    <div class = "col">
        <!-- Entre corchetes figura el nombre de la propiedad que recibe el valor en el componente llamado -->
        <!-- A la derecha del operador de asignación figura la propiedad enviada por este componente -->
        <app-personajes2 [personajes] = personajes></app-personajes2>
    </div>
    <div class = "colEnd">
        <!-- Entre paréntesis figura la escucha de un evento definido en el componente hijo "Agregar2Component" -->
        <!-- Este evento se encuentra asociado a un método de la clase "MainPage2Component": agregarNuevoPersonaje -->
        <!-- Dicho método recibe un parámetro de tipo "Personaje" que se corresponde con el argumento "$event" -->
        <app-agregar2 
            [nuevo] = nuevo
            (onNuevoPersonaje) = "agregarNuevoPersonaje($event)"
        ></app-agregar2>
    </div>
</div>